.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

/* NUMBER STYLE */
.card p {
  font-size: 28px;
  font-weight: bold;
}

/* COLOR BORDERS */
.credit {
  border-left: 6px solid #22c55e;
}

.debit {
  border-left: 6px solid #ef4444;
}

.balance {
  border-left: 6px solid #6366f1;
}
